@model IEnumerable<HELMA20250404.AppMVCCore.Models.Nota>
@{
	// Establece el título de la página en la propiedad ViewData.
	ViewData["Title"] = "Buscar notas";
	// Crea una nueva instancia de la clase Nota. Esta instancia se utilizará para enlazar los campos del formulario de búsqueda.
	var modelBuscar = new Nota();
}

@{
	Layout = "_Layout";
}

<div class="container-custom">
	<h1 class="mb-4"><i class="bi bi-search"></i>Buscar notas</h1>

	<div class="card">
		<form asp-action="Index" class="mb-4">
			<div class="row">
				<div class="form-group col-md-4">
					<label asp-for="@modelBuscar.Matricula" class="control-label">Nombre de alumno</label>
					<input name="Matricula" class="form-control" placeholder="Buscar el nombre del alumno" />
				</div>
				<div class="form-group col-md-4">
					<label asp-for="@modelBuscar.Materia" class="control-label">Nombre de materia</label>
					<input name="Materia" class="form-control" placeholder="Buscar el nombre de la materia" />
				</div>
				<div class="form-group col-md-4">
					<label asp-for="@modelBuscar.Aula" class="control-label">Nombre de grado</label>
					<input name="Aula" class="form-control" placeholder="Buscar el nombre del grado" />
				</div>
			</div>
			<div class="row mt-3">
				<div class="form-group col-md-3">
					<label>Cant. Reg</label>
					<select name="topRegistro" class="form-control">
						<option value="10">10</option>
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
						<option value="200">200</option>
						<option value="0">Todos</option>
					</select>
				</div>
				<div class="form-group col-md-9 d-flex align-items-end">
					<button type="submit" class="btn btn-primary me-2">Buscar</button>
					<a asp-action="Create" class="btn btn-dark"><i class="bi bi-plus-circle"></i> Ir a crear</a>
				</div>
			</div>
		</form>
	</div>

	<div class="table-responsive">
		<table class="table" id="myTable">
			<thead class="table-dark">
				<tr>
					<th>@Html.DisplayNameFor(model => model.Matricula)</th>
					<th>@Html.DisplayNameFor(model => model.Aula)</th>
					<th>@Html.DisplayNameFor(model => model.Materia)</th>
					<th>@Html.DisplayNameFor(model => model.Trimestre1)</th>
					<th>@Html.DisplayNameFor(model => model.Trimestre2)</th>
					<th>@Html.DisplayNameFor(model => model.Trimestre3)</th>
					<th>@Html.DisplayNameFor(model => model.Promedio)</th>
					<th>@Html.DisplayNameFor(model => model.Estado)</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.Matricula.Alumno.Usuario.NombreUsuario)</td>
						<td>@Html.DisplayFor(modelItem => item.Aula.Nombre)</td>
						<td>@Html.DisplayFor(modelItem => item.Materia.Nombre)</td>
						<td>@Html.DisplayFor(modelItem => item.Trimestre1)</td>
						<td>@Html.DisplayFor(modelItem => item.Trimestre2)</td>
						<td>@Html.DisplayFor(modelItem => item.Trimestre3)</td>
						<td>@Html.DisplayFor(modelItem => item.Promedio)</td>

						<td>
							<span class="badge @(item.Promedio >= 6 ? "bg-success" : "bg-danger")">
                                @(item.Promedio >= 6 ? "Aprobado" : "Reprobado")
                           </span>

						</td>
						<td>
							<div class="btn-group" role="group">
								@if (User.Identity.IsAuthenticated)
								{
									@if (User.IsInRole("PROFESOR"))
									{
										<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
											<i class="bi bi-pencil"></i> Editar
										</a>
										<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">
											<i class="bi bi-eye"></i> Detalle
										</a>
										<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
											<i class="bi bi-trash-fill"></i> Eliminar
										</a>
									}
									@if (User.IsInRole("ALUMNO"))
									{
										<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">
											<i class="bi bi-eye"></i> Detalle
										</a>
									}
								}
								
                            </div>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
	<script>
		// Espera a que el documento esté completamente cargado.
		$(document).ready(function () {
			// Inicializa el plugin DataTables en la tabla con el ID "myTable".
			$('#myTable').DataTable({
				// Configuración para el idioma de DataTables.
				"language": {
					// URL para el archivo de idioma español de DataTables.
					"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
				}
			});
		});
	</script>
}




