@model IEnumerable<HELMA20250404.AppMVCCore.Models.Usuario>

@{
    // Establece el título de la página en la propiedad ViewData.
    ViewData["Title"] = "Buscar usuarios";
    // Crea una nueva instancia de la clase Usuario. Esta instancia se utilizará para enlazar los campos del formulario de búsqueda.
    var modelBuscar = new Usuario();
}

@{
    Layout = "_Layout";
}

<div class="container-custom">
    <h1 class="mb-4"><i class="bi bi-search"></i>Buscar usuarios</h1>

    <div class="card">
        <form asp-action="Index" class="mb-4">
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="@modelBuscar.NombreUsuario" class="control-label"></label>
                    <input name="NombreUsuario" class="form-control" placeholder="Buscar el nombre del usuario" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="@modelBuscar.Email" class="control-label"></label>
                    <input name="Email" class="form-control" placeholder="Buscar el correo electrónico" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="@modelBuscar.Rol" class="control-label"></label>
                    <input name="Rol" class="form-control" placeholder="Buscar el rol" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group col-md-3">
                    <label>Cant. Reg</label>
                    <select name="topRegistro" class="form-control">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="0">Todos</option>
                    </select>
                </div>
                <div class="form-group col-md-9 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary me-2">Buscar</button>
                    <a asp-action="Create" class="btn btn-dark"><i class="bi bi-plus-circle"></i> Ir a crear</a>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NombreUsuario)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Rol)</th>
                    <th>@Html.DisplayNameFor(model => model.Password)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NombreUsuario)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rol)</td>
                        <td>@Html.DisplayFor(modelItem => item.Password)</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                    <i class="bi bi-pencil"></i> Editar
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">
                                    <i class="bi bi-eye"></i> Detalle
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash-fill"></i> Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        // Espera a que el documento esté completamente cargado.
        $(document).ready(function () {
            // Inicializa el plugin DataTables en la tabla con el ID "myTable".
            $('#myTable').DataTable({
                // Configuración para el idioma de DataTables.
                "language": {
                    // URL para el archivo de idioma español de DataTables.
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            });
        });
    </script>
}